@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  font-family: "JetBrains Mono", monospace; 
}

body {
  background-color: #FAF9EC;
  margin: 0px;
}

#root {
  margin: auto;
  max-width: 1080px;
  min-height: 100vh;
}

#navbar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #3B3B3B;
}

.navbar_span {
  justify-content: space-around;
  margin: auto 10px; 
  font-size: 1.5rem;
  color: #5C573E;
}

.navbar_link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #FAF9EC;
}

.navbar_link:hover {
  color: #B0E0E6;
}

#leftbox {
  padding: 8px;
  float: left;
  width: 60%;
}

#rightbox {
  padding: 8px;
  float: right;
  width: 40%;
}

#page {
  min-height: calc(100vh - (50px + 55px));
  display: flex;
}

#footer {
  width: 100%;
  height: 55px;
}
